eu.kanade.tachiyomi.debug_2024-01-22_05-54.tachibk
eu.kanade.tachiyomi.debug_2024-01-22_05-54.tachibk.uncompressed
kotatsu_26012024.bk.zip
some.proto

*.a
*.so

*.lib
*.exp
*.dll
*.pdb

built_libs/remnants/*

chiyotatsu.exe
*.o
