[submodule "manga_src/kotatsu"]
	path = manga_src/kotatsu
	url = https://github.com/KotatsuApp/Kotatsu.git
[submodule "manga_src/tachiyomi"]
	path = manga_src/tachiyomi
	url = https://github.com/ZhanZiyuan/tachiyomi.git
[submodule "extern/protobuf"]
	path = extern/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "extern/zlib"]
	path = extern/zlib
	url = https://github.com/madler/zlib.git
