[submodule "manga_src/kotatsu"]
	path = manga_src/kotatsu
	url = https://github.com/KotatsuApp/Kotatsu.git
[submodule "manga_src/tachiyomi"]
	path = manga_src/tachiyomi
	url = https://github.com/ZhanZiyuan/tachiyomi.git
[submodule "extern/protobuf"]
	path = extern/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
	branch = 27.x
[submodule "extern/zlib"]
	path = extern/zlib
	url = https://github.com/madler/zlib.git
[submodule "extern/abseil-cpp"]
	path = extern/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
	branch = lts_2024_01_16
[submodule "extern/jsoncpp"]
	path = extern/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "extern/zip"]
	path = extern/zip
	url = https://github.com/nih-at/libzip.git
[submodule "extern/zippp"]
	path = extern/zippp
	url = https://github.com/ctabin/libzippp.git
[submodule "extern/sqlite"]
	path = extern/sqlite
	url = https://github.com/sqlite/sqlite.git
